<!--<section class="skills" *ngIf="skills">-->
<!--  <h2 class="section-title">Skills</h2>-->

<!--  <div class="skills-wrapper">-->
<!--    <div class="skill-card" *ngFor="let category of skills | keyvalue">-->
<!--      <h3 class="category-title">{{ category.key }}</h3>-->
<!--      <ul class="skill-list">-->
<!--        <li *ngFor="let skill of category.value">-->
<!--          <i class="bi bi-check-circle-fill skill-icon"></i>-->
<!--          <span>{{ skill }}</span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<section class="skills-wrapper">
  <h2 class="section-title">💡 Skills & Expertise</h2>

  <div class="filter-tabs">
    <button
      *ngFor="let cat of categories"
      (click)="selectCategory(cat)"
      [class.active]="cat === selectedCategory">
      {{ cat }}
    </button>
  </div>

  <div class="skills-grid">
    <div
      class="skill-card"
      *ngFor="let skill of filteredSkills"
      [@fadeIn]>
      <span class="skill-name">{{ skill.name }}</span>

    </div>
  </div>
</section>
